// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cart-icon-name: 'cart-icon';
$cart-icon-x: 12px;
$cart-icon-y: 21px;
$cart-icon-offset-x: -12px;
$cart-icon-offset-y: -21px;
$cart-icon-width: 15px;
$cart-icon-height: 15px;
$cart-icon-total-width: 47px;
$cart-icon-total-height: 43px;
$cart-icon-image: '../imgs/decorate/sprite/sprite.png';
$cart-icon: (12px, 21px, -12px, -21px, 15px, 15px, 47px, 43px, '../imgs/decorate/sprite/sprite.png', 'cart-icon', );
$fb-icon-name: 'fb-icon';
$fb-icon-x: 0px;
$fb-icon-y: 21px;
$fb-icon-offset-x: 0px;
$fb-icon-offset-y: -21px;
$fb-icon-width: 12px;
$fb-icon-height: 22px;
$fb-icon-total-width: 47px;
$fb-icon-total-height: 43px;
$fb-icon-image: '../imgs/decorate/sprite/sprite.png';
$fb-icon: (0px, 21px, 0px, -21px, 12px, 22px, 47px, 43px, '../imgs/decorate/sprite/sprite.png', 'fb-icon', );
$insta-icon-name: 'insta-icon';
$insta-icon-x: 0px;
$insta-icon-y: 0px;
$insta-icon-offset-x: 0px;
$insta-icon-offset-y: 0px;
$insta-icon-width: 21px;
$insta-icon-height: 21px;
$insta-icon-total-width: 47px;
$insta-icon-total-height: 43px;
$insta-icon-image: '../imgs/decorate/sprite/sprite.png';
$insta-icon: (0px, 0px, 0px, 0px, 21px, 21px, 47px, 43px, '../imgs/decorate/sprite/sprite.png', 'insta-icon', );
$vk-icon-name: 'vk-icon';
$vk-icon-x: 21px;
$vk-icon-y: 0px;
$vk-icon-offset-x: -21px;
$vk-icon-offset-y: 0px;
$vk-icon-width: 26px;
$vk-icon-height: 15px;
$vk-icon-total-width: 47px;
$vk-icon-total-height: 43px;
$vk-icon-image: '../imgs/decorate/sprite/sprite.png';
$vk-icon: (21px, 0px, -21px, 0px, 26px, 15px, 47px, 43px, '../imgs/decorate/sprite/sprite.png', 'vk-icon', );
$spritesheet-width: 47px;
$spritesheet-height: 43px;
$spritesheet-image: '../imgs/decorate/sprite/sprite.png';
$spritesheet-sprites: ($cart-icon, $fb-icon, $insta-icon, $vk-icon, );
$spritesheet: (47px, 43px, '../imgs/decorate/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
