// -----------------------------------------
// Fonts
// -----------------------------------------

$font-family-1:                             'Roboto', 'Arial', sans-serif;

$font-thin:                                 100;
$font-light:                                300;
$font-regular:                              400;
$font-medium:                               500;
$font-semibold:                             600;
$font-bold:                                 700;
$font-black:                                900;

$font-size-base:  16px;
$line-height-base:  1.42;


// -----------------------------------------
// Colors
// -----------------------------------------

$color-text-base:                           #262626;
$color-text-black:                          #000000;
$color-text-white:                          #ffffff;


// -----------------------------------------
// Backgrounds
// -----------------------------------------

$background-color-base:                     #ffffff;
$background-color-grey:                     #eeeeee;
$background-color-red:                      #fb565a;
$background-color-green:                    #00ca74;
$background-color-yellow:                   #efc84a;
$background-color-grey-light:               #e1e1e1;