// -----------------------------------------
// Fonts
// -----------------------------------------

$font-family-1:                             'Roboto', 'Arial', sans-serif;

$font-thin:                                 100;
$font-light:                                300;
$font-regular:                              400;
$font-medium:                               500;
$font-semibold:                             600;
$font-bold:                                 700;
$font-black:                                900;

$font-size-base:  16px;
$line-height-base:  1.42;


// -----------------------------------------
// Colors
// -----------------------------------------

$color-text-base:                           #262626;
$color-text-black:                          #000000;
$color-text-black-light:                    #283136;
$color-text-black-light2:                   #666666;
$color-text-black-light3:                   #444444;
$color-text-white:                          #ffffff;
$color-text-red:                          	#fb565a;
$color-text-red-hover:                		#e74246;


// -----------------------------------------
// Backgrounds
// -----------------------------------------

$background-color-base:                     #ffffff;
$background-color-black:                    #000000;
$background-color-grey:                     #eeeeee;
$background-color-grey-hover:               #b4b9bb;
$background-color-red:                      #fb565a;
$background-color-red-hover:                #e74246;
$background-color-red-active:               #d7373b;
$background-color-green:                    #00ca74;
$background-color-green-hover:              #00bc6c;
$background-color-green-active:             #00aa62;
$background-color-yellow:                   #efc84a;
$background-color-yellow-hover:             #eab534;
$background-color-yellow-active:            #e5a722;
$background-color-grey-light:               #e1e1e1;
$background-color-slider-grey:              #c1c1c1;