nav.main-nav.main-header__main-nav
  ul.nav-list
     - 
      var nav = [
        {url: '/', name: 'Студия'}, 
        {url: '#', name: 'Клиенты'},
        {url: 'catalog.html', name: 'Магазин'},
        {url: '#', name: 'Контакты'}
      ];
     - var cl = {'default' : 'nav-list__link', 'active' : 'nav-list__link_active'}
      each i in nav
        li.nav-list__item
          +navLink(i.url, i.name, i.url == pageUrl, cl)