nav.main-nav.main-header__main-nav
  ul.nav-list
     - var nav = ['студия', 'клиенты', 'магазин', 'контакты']
      each item in nav
        li.nav-list__item
          a(href="#").nav-list__link=item