section.map
  .container
    .map__wrap-flag
      img(src='imgs/content/map-marker.png' alt='flag-img').flag-img
    .map__info
      span.map__info-title Nerds design studio
      p.map__info-text 191186, Санкт-Петербург, улКонюшенная, д.  19/8
      p.map__info-text тел. +7 (812) 275-75-75
      a(href='#').btn.map__button Напишите нам