section.partners
  h3.partners__title.hidden Партнеры компании
  ul.partners__list
    - for (var i = 1; i < 5; i++)
      li.partners__list-item
        a(href='#').partners__wrap-img
          img(src='imgs/content/logo-' + i + '.pngcopy.png' alt='partner' ).partners__img
