ul.products.catalog__products
  each item in products
    li.products__item
      .products__decor
        -for (var i = 0; i < 3; i++)
          .decor-elem
      .products__wrap-img
        img(src="" + item.products__img, alt="").products__img
      .products__info
        p.product__info-title=item.product__infotitle
        p.product__info-desc=item.product__infodesc
        a.btn.product__btn=item.product__btn