div(style='display: none')
  .write-us
    p.write-us__title Напишите нам
    a(href="#").write-us__close.arcticmodal-close
    form(action="#").write-us__form
      .write-us__wrap-input.write-us__wrap-input_name
        label.write-us__form-label Ваше имя:
        input.write-us__form-input(type='text' placeholder='Представьтесь, пожалуйста' name='name' required  autofocus)
      .write-us__wrap-input
        label.write-us__form-label Ваш e-mail:
        input.write-us__form-input(type='email' placeholder='Для отправки ответа' required )
      .write-us__wrap-input.write-us__wrap-input_textarea
        label.write-us__form-label Текст письма:
        textarea(placeholder='В свободной форме' required name='question').write-us__form-textarea
      button.btn.write-us__btn Отправить