head
	meta(charset='utf-8')
	title 
		block title
	meta(content='' name='author')
	meta(content='' name='description')
	meta(content='' name='keywords')
	meta(content='width=device-width, initial-scale=1' name='viewport')
	link(rel="stylesheet", href='css/app%=suffix=%.css%=version=%')
	//- favicon block start
	//- favicon block end