.about {
	padding-top: 40px;
	padding-bottom: 50px;
	border-bottom: 2px solid $background-color-grey;
	@extend %clearfix;
}

.about__left {
	float: left;
	width: 660px;
	padding-top: 20px;
}

.about__title {
	margin: 0;
	font-size: 	45px;
	line-height: 48px;
	font-weight: $font-medium;
	margin-bottom: 	25px;
	color: $color-text-black;
}

.about__desc {
	margin-bottom: 40px;
	color: $color-text-black-light;	
}

.about__works-title {
	text-transform: uppercase;
	font-weight: $font-bold;
	margin-bottom: 20px;
	color: $color-text-black;
}

.about__works-list {
	@include reset_mp();
	list-style: none;
}

.about__works-item {
	margin-bottom: 20px;
}

.about__works-elem {
	position: relative;
	padding-left: 35px;

	&:before {
		content: '';
		display: block;
		width: 	25px;
		height: 2px;
		@include centered(y);
		left:0;

		background-color: $background-color-red;
	}
}

.about__right {
	float: right;
	width: 360px;
}

.about__wrap-img {
	width: 360px;
	height: 208px;
	margin-bottom: 30px;
}

.about__img {
	@include maxsize_img();
}

.about__skills-title {
	font-weight: $font-bold;
	text-align: center;
	text-transform: uppercase;
	color: $color-text-black;
	margin-bottom: 	38px;
}

.about__skills-list {
	@include reset_mp();
	list-style: none;

	font-size: 0;
}

.about__skills-item {
	@include veral();
	width: 	100px;
	margin-right: 15px;
}

.about__skills-number {
	position: relative;
	@include veral();
	font-size: 45px;
	font-weight: $font-bold;
	color: $color-text-black;

	margin-bottom: 	20px;

	&:after {
		content: '%';
		position: absolute;
		top:8px;
		left:100%;
		font-size: 22.5px;
		font-weight: inherit;
	}
}


.about__skills-desc {
	display: block;
	font-size: 	16px;
	line-height: 18px;
	color: $color-text-black-light;
}