.catalog {
	float: right;
	width: 760px;
}

.catalog__controls {
	@extend %clearfix;
}

.controls-title {
	float: left;
	margin: 0;
	margin-bottom: 55px;
	font-size: 18px;
	line-height: 20px;
	font-weight: $font-bold;
}

.controls-list{
	float: right;
	@include reset_mp();
	list-style: none;
	font-size: 0;
}

.controls-list__item {
	@include veral(middle);
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}

	&:nth-last-child(3) {
		margin-right: 48px;
	}

	&:nth-last-child(2) {
		margin-right: 20px;
	}
}

.controls-list__link {
	font-size: 14px;
	line-height: 25px;
	color: rgba($color-text-black, .3);
	text-transform: uppercase;
	text-decoration: none;
}

.controls-list__link_active {
	color: rgba($color-text-black, 1);
}

.controls-list__link-direct-down, .controls-list__link-direct-up {
	@include veral();
	font-size: 0;
	width: 0; 
	height: 0;
	border-style: solid;
	border-color: $background-color-black;
	opacity: .2;
	border-left-color: transparent;
	border-right-color: transparent;
	border-left-width: 4.5px;
	border-right-width: 4.5px;
	border-bottom-width: 0px;
	border-top-width: 0px;

}

.controls-list__link-direct-down {
	border-top-width: 9px;
}

.controls-list__link-direct-up {
	border-bottom-width: 9px;
}

.controls-list__link-direct_active {
	opacity: 1;
}