.logo {
	@include veral();
	position: relative;
	width: 160px;
	height: 65px;

	&:hover {
		opacity: .8;
	}

	&:active {
		opacity: .3;
	}
}

.logo__title {
	position: absolute;
	left: -10000px;
}

.logo__img {
	@include maxsize_img();
}