.main-header {
	padding-top: 49px;

	background-color: $background-color-grey;
}

.main-header__logo {
	float: left;
	margin-right: 	200px;
}

.main-header__main-nav {
	float: left;
	padding-top: 30px;
}

.main-header__shop-cart {
	float: right;
	padding-top: 30px;
}