.main-nav {
	width: 640px;
}

.nav-list {
	list-style: none;
	font-size: 0;
	@include reset_mp();
}

.nav-list__item {
	@include veral();
	margin-right: 45px;

	&:last-child {
		margin-right: 0;
	}
}

.nav-list__link {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-size: $font-size-base;
	font-weight: $font-medium;
	line-height: 30px;
	color: $color-text-black;

	&:hover {
		color: $color-text-red;
	}

	&:active {
		color: rgba($color-text-black, .3);
	}
}

.nav-list__link_active {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		bottom:0;
		width: 100%;
		height: 2px;
		background: $background-color-red;
	}

	&:hover {
		color: $color-text-black;
	}

	&:active {
		color: rgba($color-text-black, 1);
	}
}

