.main-header {
	padding-top: 49px;

	background-color: $background-color-grey;
}

.main-header__logo {
	float: left;
	margin-right: 	200px;
}

.main-header__main-nav {
	float: left;
	padding-top: 30px;
}

.main-header__shop-cart {
	float: right;
	padding-top: 30px;
}


/*****************************************/
/*CATALOG PAGE*/

.main-header__title {
	margin:0;
	margin-top: 75px;
	margin-bottom: 100px;
	text-align: center;
	font-size: 55px;
	line-height: 55px;
	font-weight: $font-medium;
}