.map {
	height: 416px;
	background: url('../imgs/content/map_large2.jpg') center center no-repeat;
	padding-top: 53px;
}

.map__wrap-flag {
	position: absolute;
	top: 15px;
	left: 695px;
	
	width: 232px;
}

.flag-img {
	@include maxsize_img();
}

.map__info {
	width: 320px;
	max-height: 308px;
	padding: 40px;
	background: $background-color-base;
	overflow: hidden;
}

.map__info-title {
	margin:0;
	font-size: 18px;
	line-height: 30px;
	font-weight: $font-bold;
	text-transform: uppercase;
	color: $color-text-black;
	margin-bottom: 20px;
}

.map__info-text {
	line-height: 18px;
	color: $color-text-black-light2;
	margin-bottom: 20px;
}

.map__button {
	display: block;
	margin-top: 35px;
}