.paginations {
	@include reset_ul(all);
}

.paginations__item {
	@include veral();
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}
}

.paginations__link {
	@include veral();
	width: 50px;
	height: 50px;
	line-height: 50px;

	border-radius: 2px;
	border: 3px solid transparent;

	text-align: center;

	font-size: 16px;
	font-weight: $font-medium;
	color: $color-text-black;
	text-decoration: none;
	text-transform: uppercase;

	background-color: $background-color-grey;

	&:hover {
		background: $background-color-grey-hover;
	}

	&:active {
		background: $background-color-grey-active;
		color: rgba($color-text-black, .3);
	}
}

.paginations__link_active {
	border: 3px solid #dbdbdb;

	background: $background-color-base;

	&:hover {
		background: $background-color-base;
	}

	&:active {
		color: rgba($color-text-black, 1);
	}
}

.paginations__link_next {
	width: 260px;
}