.partners {
	padding-top: 45px;
	padding-bottom: 40px;
	border-bottom: 2px solid $background-color-grey;
	margin-bottom: 80px;
}

.partners__list {
	@include reset_mp();
	list-style: none;
	font-size: 0;
}

.partners__list-item {
	@include veral(middle);
	width: 260px;
	margin-right: 40px;
	text-align: center;

	&:last-child {
		margin-right: 0;
	}
}

.partners__wrap-img {
	@include veral();
	max-width: 260px;
}

.partners__img {
	@include maxsize_img();
	opacity: .2;

	&:hover {
		opacity: 1;
	}

	&:active {
		opacity: .1;
	}
}