.service {
	padding-top: 80px;
	padding-bottom: 80px;

	border-bottom: 2px solid $background-color-grey;
}

.service__list {
	@include reset_mp();
	list-style: none;
	font-size: 0;
}

.service__item {
	font-size: 16px;
	@include veral();
	width: 300px;
	margin-right: 100px;

	&:last-child {
		margin-right: 0;
	}
}

.service__wrap-img {
	width: 300px;
	height: 147px;
	margin-bottom: 15px;
}

.service__img {
	@include maxsize_img();
}

.service__list-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: $font-bold;
	text-transform: uppercase;

	margin-bottom: 25px;
}

.service__list-desc {
	margin-bottom: 35px;
	font-size: 16px;
	
}

.service__btn {
	width: 160px;
	font-size: 16px;
	font-weight: $font-medium;
}