.settings {}

.settings__title {
  margin: 0;
  margin-bottom: 20px;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: $font-bold;
}

.settings__range {
	margin-bottom: 60px;
}

.settings__custom-radio {
	margin-bottom: 45px;
}

.settings__custom-checkbox {
	margin-bottom: 40px;
}

.settings__btn {
	display: block;
	width: 100%;
	color: $color-text-black;
}

