.shop-cart {
	width: 160px;
	text-align: right;
}

.shop-cart__text {
	position: relative;
	@include veral();
	padding-left: 40px;
	font-weight: $font-medium;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: $color-text-black;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		left:0;

		@include sprite($cart-icon);
	}
}

