.sort {
	@extend %clearfix;

	margin-bottom: 50px;
}

.sort__title {
	float: left;
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: $font-bold;
}

.sort__list {
	float: right;

	@include reset_ul();
}

.sort__item {
	@include veral(middle);
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}

	&:nth-last-child(3) {
		margin-right: 48px;
	}

	&:nth-last-child(2) {
		margin-right: 20px;
	}
}

.sort__link {
	font-size: 14px;
	line-height: 25px;
	color: rgba($color-text-black, .3);
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		color: rgba($color-text-black, .6);
	}

	&:active {
		color: rgba($color-text-black, 1);
	}
}

.sort__link_active {
	color: rgba($color-text-black, 1);

	&:hover {
		color: rgba($color-text-black, 1);
	}

	&:active {
		color: rgba($color-text-black, 1);
	}

}

.sort__link_direct_down, .sort__link_direct_up {
	@include veral();
	font-size: 0;
	width: 0; 
	height: 0;
	border-style: solid;
	border-color: $background-color-black;
	opacity: .2;
	border-left-color: transparent;
	border-right-color: transparent;
	border-left-width: 4.5px;
	border-right-width: 4.5px;
	border-bottom-width: 0px;
	border-top-width: 0px;

	&:hover {
		opacity: .4;
	}

	&:active {
		opacity: 1;
	}

}

.sort__link_direct_down {
	border-top-width: 9px;
}

.sort__link_direct_up {
	border-bottom-width: 9px;
}

.sort__link_direct_active {
	opacity: 1;

	&:hover {
		opacity: 1;
	}

	&:active {
		opacity: 1;
	}
}