html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font: $font-regular $font-size-base $font-family-1;
  color: $color-text-base;
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5 {

	font-weight: normal;
}

