extends ../layouts/_main.layout.pug

block title 
    | Nerds Catalog

block content
  header.main-header
    .container
      include ../blocks/logo.pug
      include ../blocks/main-nav.pug
      include ../blocks/shop-cart.pug
    .container
      h2.main-header__title Магазин готовых шаблонов
  main.main-content.main-content_catalog
    .container
      aside.sidebar
        form.settings
          p.settings__title.settings__title_price Стоимость:
          .range.settings__range
            .range__wrap-controls
              a(href="#").range__control-left
              a(href="#").range__control-right
              .range__line
            label(for='min').range__label от
            input(type="text" placeholder='0' name='min' id='min').range__input.range__input_min
            label(for='max').range__label до
            input(type="text" placeholder='1500' name='max' id='max').range__input
          p.settings__title Сетка
          - var grid = ['Адаптивная', 'Фиксированная', 'Резиновая']
          ul.settings__list
            each item in grid
              li.settings__item
                - if (item == 'Адаптивная')
                  input(type="radio" id=''+ item name='grid' checked).settings__input
                - else
                  input(type="radio" id=''+ item name='grid').settings__input
                label(for=''+ item).settings__label.settings__label_radio= item
          p.settings__title Особенности:
          -var features = ['Слайдер','Блок преимуществ','Новости','Галерея','Корзина']
          ul.settings__list
            each item in features
              li.settings__item
                - if (item == 'Слайдер' || item == 'Новости')
                  input(type="checkbox" id=''+ item name='features' checked).settings__input
                - else
                  input(type="checkbox" id=''+ item name='features').settings__input
                label(for=''+ item).settings__label.settings__label_checkbox= item
          button.btn.btn_grey.settings__btn Показать
      .catalog.hidden
        .catalog__controls
          p.controls-title Сортировать
          - var controls = ['По цене', 'По типу', 'По названию', 'По убыванию', 'По возрастанию']
          ul.controls-list
            each item in controls
              li.controls-list__item
                a(href="#").controls-list__link=item
        - var products = ['1', '2' ,'3', '4', '5', '6']
        ul.products
          each item in products
            li.products__item
              .products__decor
                .decor
                .decor
                .decor
              .products__wrap-img
                img(src="#", alt="").products__img
              .products__info
                p.product__title=item
                p.product__desc
                a.btn.product__btn
        - var paginations = ['1', '2' ,'3', 'следующая']
        ul.paginations
          each item in paginations
            li.paginations__item
              a(href="#").paginations__link=item
  include ../blocks/map.pug

  footer.main-footer
    .container
      include ../blocks/socials
      .main-footer__slogan
        p.main-footer__slogan-title Давайте дружить, это выгодно!
        p.main-footer__slogan-text Скидка 10% для друзей из социальных сетей.

