extends ../layouts/_main.layout.pug

block title 
    | Nerds Catalog

block content
  header.main-header
    .container
      include ../blocks/logo.pug
      include ../blocks/main-nav.pug
      include ../blocks/shop-cart.pug
    .container
      h2.main-header__title Магазин готовых шаблонов
  main.main-content.main-content_catalog
    .container    
      aside.sidebar
        form.settings
          include ../blocks/range
          p.settings__title Сетка:      
          include ../blocks/custom-radio
          p.settings__title Особенности:
          include ../blocks/custom-checkbox
          button.btn.btn_grey.settings__btn Показать
      .catalog       
        include ../blocks/sort
        include ../blocks/products
        include ../blocks/paginations

        
  include ../blocks/map.pug

  footer.main-footer
    .container
      include ../blocks/socials
      .main-footer__slogan
        p.main-footer__slogan-title Давайте дружить, это выгодно!
        p.main-footer__slogan-text Скидка 10% для друзей из социальных сетей.

