extends ../layouts/_main.layout.pug

block title 
    | Nerds

block content
  header.main-header
    .container
      include ../blocks/logo.pug
      include ../blocks/main-nav.pug
      include ../blocks/shop-cart.pug  
    .container
        include ../blocks/slider.pug
  main.main-content
    .container
      include ../blocks/service.pug
      include ../blocks/about.pug
      include ../blocks/partners.pug
    include ../blocks/map.pug
  footer.main-footer
    .container
      include ../blocks/socials
      .main-footer__slogan
        p.main-footer__slogan-title Давайте дружить, это выгодно!
        p.main-footer__slogan-text Скидка 10% для друзей из социальных сетей.

  include ../blocks/write-us

